/********************  header *********************/

/* Step2.6:調整logo大小 */
.nav__logo {
  width: 35px
}

/*  step2.7:調整icons顏色及間距  */
.nav__icons a {
  color: #333333;
  margin: 5px;
}
.nav__icons a:hover{
  color:#bdbdbd;

}

/* step2.8:螢幕小於576px不顯示icons */
.nav__icons {
  display: none;
}

@media screen and (min-width: 576px) {
  .nav__icons {
    display: inline;
  }
}

/*  step2.9:選單區塊置中 */
.navbar__collapse {
  justify-content: center;
}

.navbar .navbar__brand {
  width: 150px;
  margin: 0;
}

.navbar__icons {
  width: 150px;
  text-align : right;
}

.navbar__icons ul{
  margin: 0px;
}


/* step2.10:漢堡下拉選單文字置中 */
.navbar-nav li {
  text-align: center;
}

/********************  carousel *********************/

/* step3.3:加入上方固定文字及樣式 */
.carousel__info p {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  color: #ffffff;
  transform: translate(-50%,-50%);
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
}

/* step3-4: RWD文字大小調整 */
@media screen and (min-width: 768px) {
  .carousel__info p {
    font-size: 40px;
  }
}

/********************  introduction *********************/

/* step4-2: 調整圖片大小 */
.intro__avatar__container {
  width: 300px;
}
.intro__avatar {
  width: 100%;
}

/* step4-4: 調整文字樣式 */
#intro h2 {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

#intro h3 {
  padding-bottom: 20px;
  padding-top: 20px;
}

#intro p {
  font-size: 14px;
  text-align: justify;
  line-height: 24px;
  color: #333333;
}

/* step4-5: 調整按鈕樣式 */
#intro button {
  border-radius: 5px;
  border: 0px;
  background-color: #e7e7e7;

}

/******** skill ********/

#skill h2 {
  /* skill-2 */
 text-align: center;
 padding: 20px 0px 20px 0px;
 margin: 0px;
  /* skill-7 */
  
}

.skill__content__item img {
  /* skill-2 */
  width: 40%;
  height: 100px;
  object-fit: contain;

  /* skill-7 */
  margin-bottom: 20px;

}

.skill__content__item {
  /* skill-3、skill-6 */
/* border: 2px solid red; */

  /* skill-9 */
margin-bottom: 20px;
}

.skill__content__item__container {
  /* skill-5、skill-6 */
/* border: 2px solid blue; */
height: 100%;
border-radius:5%;
box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
text-align: center;
padding: 20px;
position: relative;
bottom: 0px;
  /* skill-8:加上動畫效果 */
transition:bottom 500ms , background-color 1000ms;
}

/* skill-8:加上 hover 效果 */
.skill__content__item__container:hover {
bottom: 3px;
background-color: rgba(201, 225, 238, 1);
box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.7);
}

/* skill-9:RWD */
@media screen and (min-width: 768px) {
  .skill__content__item {
    margin-bottom: 10px;
  }
}

/******** portfolio ********/
#portfolio h2 {
  /* portfolio-2 */
text-align: center;
padding: 20px 0;

}
.portfolio__items__container img {
  /* portfolio-2 */
width: 100%;
height: 250px;
object-fit: cover;
border-radius: 15px;
}
.portfolio__items__container {
  /* portfolio-2 */
margin-bottom: 20px;
  /* portfolio-3 */
position: relative;
  /* portfolio-7 */
overflow: hidden;
}
.portfolio__items__container__cover {
  /* portfolio-3 */
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 250px;
  /* portfolio-4 */
width: calc(100% - 30px);
left: 15px;
  /* portfolio-5 */
background-color: rgba(0, 0, 0, 0.5);
border-radius: 15px;
display: flex;
justify-content: center;
align-items: center;
color: white;
  /* portfolio-6 */
top: 100%;
transition: top 500ms;
}

.portfolio__items__container:hover .portfolio__items__container__cover {
  /* portfolio-6 */
top:0;
}

/******** lightbox ********/
.portfolio__lightbox {
  /*lightbox-2*/
position: fixed;
top: 0;
left: 0;
width: 100vw;
height: 100vh;

  /*lightbox-4*/

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: RGBA(255 ,255 ,255 ,0.6);

  /*lightbox-6*/

  display: none;
}

.portfolio__lightbox img {
  /*lightbox-3*/
width: 70vw;
max-height: 100vh;
object-fit: contain;
}
.portfolio__lightbox__close {
  /*lightbox-5*/
position: absolute;
top: 20px;
right: 20px;
font-size: 20px;
padding: 15px 20px;
cursor: pointer;
}

/******** footer ********/
footer {
  /*footer-2*/
padding: 30px 0px;
text-align: center;
}
footer a {
  /*footer-3*/
  color: #333333;
  margin: 5px;

}